<html>
    <head>
        <title>Tais's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Tais's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>Oi gente! Bem vindos ao meu blog!</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p>Testandooo.</p>
        </div>
    </body>
</html>